@model IGame

<style>
    .total-winnings {
        color: white;
        background-color: transparent; /* Убираем фон */
        padding: 4px; /* Можете оставить, если нужен отступ */
    }
</style>

<h4 class="total-winnings">Общий счет: @Model.Player.TotalWinnings</h4>
